<div class="container mt-5" >
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <h2 class="text-center mb-4">Konsultacje dietetyczne i psychodietetyczne</h2>

      <p>
        Chcesz poprawić swoje nawyki żywieniowe, ale nie wiesz od czego zacząć? Zmagasz się z problemami zdrowotnymi i potrzebujesz dostosować swoją dietę do aktualnego stanu zdrowia? Nasza indywidualna współpraca jest idealnym rozwiązaniem, które pozwoli Ci zadbać o zdrowie, samopoczucie i sylwetkę, nie wychodząc z domu.
      </p>

      <p>
        Oferujemy konsultacje dietetyczne oraz psychodietetyczne, które przeprowadzamy telefonicznie lub za pomocą wideorozmowy.
      </p>

      <h3 class="mt-4">Przed pierwszą konsultacją</h3>

      <p>
        Przed pierwszą konsultacją prosimy o wypełnienie kwestionariusza oraz dzienniczka żywieniowego i odesłanie go na adres <a href="mailto:gotowejadlospisy@gmail.com">gotowejadlospisy&#64;gmail.com</a>. Jeśli chcesz możesz dołączyć wyniki badań laboratoryjnych (nie starszych niż 6 miesięcy). Listę badań laboratoryjnych znajdziesz <a href="#">tu</a> (nie jest to warunek konieczny).
      </p>

      <h3 class="mt-4">Pierwsza konsultacja (60 min)</h3>

      <ul>
        <li>Identyfikacja problemu i/lub celu dietetycznego</li>
        <li>Przeprowadzenie wywiadu żywieniowego</li>
        <li>Analiza dotychczasowego modelu odżywiania</li>
        <li>Analiza wyników badań (opcjonalnie)</li>
        <li>Odpowiedzi na Twoje pytania</li>
        <li>Ustalenie warunków dalszej współpracy (opcjonalnie)</li>
      </ul>

      <h3 class="mt-4">Po pierwszej konsultacji</h3>

      <p>
        W terminie 7 dni roboczych otrzymasz:
      </p>

      <ul>
        <li>Szczegółowe podsumowanie oraz zalecenia</li>
        <li>Indywidualny 7 dniowy jadłospis dostosowany do Twojego stanu zdrowia oraz preferencji żywieniowych</li>
        <li>Listę zamienników</li>
      </ul>

      <h3 class="mt-4">Cennik</h3>

      <div class="row">
        <div class="col-md-6">
          <ul class="list-unstyled">
            <li><strong>Pierwsza konsultacja (60 minut):</strong> 199 zł</li>
            <li><strong>Kolejna konsultacja (30 minut):</strong> 99 zł</li>
            <li><strong>Jadłospis 7 dniowy:</strong> 199 zł</li>
          </ul>
        </div>
        <div class="col-md-6">
          <ul class="list-unstyled">
            <li><strong>Pakiet 3 konsultacji (3 x 30 min):</strong> 249 zł (oszczędzasz 48 zł)</li>
            <li><strong>Pakiet 6 konsultacji: (6 x 30 min):</strong> 499 zł (oszczędzasz 95 zł)</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
