<div class="container" style="margin: 0px">
  <app-calculator-card header="Kalkulkator BMI"
                       [description]="bmiDesc"
                       [isSmallScreen]="isSmallScreen"
                       [isGreyBackground]="true">
    <app-bmi-calculator></app-bmi-calculator>
  </app-calculator-card>

  <app-calculator-card header="Kalkulkator WHR"
                       [description]="whrDesc"
                       [isSmallScreen]="isSmallScreen"
                       [isGreyBackground]="false">
    <app-whr-calculator></app-whr-calculator>
  </app-calculator-card>

  <app-calculator-card header="Kalkulkator PPM"
                       [description]="ppmDesc"
                       [isSmallScreen]="isSmallScreen"
                       [isGreyBackground]="true">
    <app-ppm-calculator></app-ppm-calculator>
  </app-calculator-card>

  <app-calculator-card header="Kalkulkator CPM"
                       [description]="cpmDesc"
                       [isSmallScreen]="isSmallScreen"
                       [isGreyBackground]="false">
    <app-cpm-calculator></app-cpm-calculator>
  </app-calculator-card>

  <app-calculator-card header="Kalkulkator NMC"
                       [description]="nmcDesc"
                       [isSmallScreen]="isSmallScreen"
                       [isGreyBackground]="true">
    <app-nmc-calculator></app-nmc-calculator>
  </app-calculator-card>
</div>
