<!--
<div class="d-flex align-items-center justify-content-between bg-light py-3 mt-2 border-top px-2 px-md-5" style="height: 100px; width: 100vw; border-color: #d9d9d9;">
  <p class="mb-0">2024 © PortalDietetyczny.pl. Wszelkie prawa zastrzeżone.</p>
  <a class="d-flex align-items-center" (click)="openLinkedin()" style="color: black">
    <p class="mb-0 mr-2">Projekt i wykonanie - Mateusz Miłkowski </p>
    <i class="fa-brands fa-linkedin"></i>
  </a>
</div>
-->
<div class="container-fluid bg-light text-dark text-center mt-4 py-3">
  <div class="row p-2 align-items-center">
    <div class="col-md-6 text-md-left text-center">
      <p class="mb-0">2024 &copy; PortalDietetyczny.pl. Wszelkie prawa zastrzeżone.</p>
    </div>

    <div class="col-md-6 text-md-right text-center" (click)="openLinkedin()" style="cursor: pointer">
      <p class="mb-0 d-flex align-items-center justify-content-center">
        Projekt i wykonanie - Mateusz Miłkowski
        <i class="fa-brands fa-linkedin ml-2" style="padding-left: 2px"></i>
      </p>
    </div>
  </div>
</div>
