<div class="container-fluid wrapper mt-1 px-5">
  <div class="w-100 box">
    <div class="row">
      <div class="col">
        <p>2024 &copy; PortalDietetyczny.pl. Wszelkie prawa zastrzeżone.</p>
      </div>
    </div>

    <div class="row">
      <div class="col ">
        <p class="pointer" (click)="navigateTo(routes.terms_of_service)">Regulamin</p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 text-md-right text-center pointer" (click)="openLinkedin()">
        <p class="mb-0 d-flex align-items-center  text-start">
          Projekt i wykonanie - Mateusz Miłkowski
          <i class="fa-brands fa-linkedin ml-2" style="padding-left: 2px"></i>
        </p>
      </div>
    </div>
  </div>
</div>
