<div style="display: grid; place-items: center; width: 100%; background-color: white; border-top: 2px solid #d9d9d9;">
  <br>
  <div style="display: grid; grid-template-columns: repeat(3, 1fr); gap: 1em;">
    <app-details-card iconClass="fa-solid fa-plate-wheat" title="Przepisy"></app-details-card>
    <app-details-card iconClass="fa-regular fa-clipboard" title="Plany dietetyczne"></app-details-card>
    <app-details-card iconClass="fa-solid fa-calculator" title="Kalkulatory"></app-details-card>
    <app-details-card iconClass="fa-solid fa-pen-to-square" title="Blog"></app-details-card>
    <app-details-card iconClass="fa-solid fa-people-arrows" title="Konsultacje"></app-details-card>
    <app-details-card iconClass="fa-solid fa-download" title="Materiały do pobrania"></app-details-card>
  </div>
</div>

<!--
/*
*  przepisy -> <i class="fa-solid fa-plate-wheat"></i>
* plany dietetyczne -> <i class="fa-regular fa-clipboard"></i>
* kalkulator <i class="fa-solid fa-calculator"></i>
* blog <i class="fa-solid fa-pen-to-square"></i>
* Konsultacje <i class="fa-solid fa-people-arrows"></i>
* materiały do pobrania <i class="fa-solid fa-download"></i>
* */-->
