<div class="detailsCard">
  <form [formGroup]="bmiForm">
  <div class="container">
    <div class="row">
     <p class="title">Kalkulator BMI</p>
    </div>

    <div class="row">
      <div class="col">
        <label>Waga w KG</label>
        <input class="form-control" type="number" formControlName="weight" min="0">
      </div>

      <div class="col">
        <label>Wzrost w cm</label>
        <input class="form-control" type="number" formControlName="height" min="0">
      </div>

    </div>

    <div class="row m-1">
      <label>Wynik</label>
      <input disabled class="form-control" type="text" [value]="calculatedBmi">
    </div>
  </div>
  </form>
</div>
