<div style="display: grid; place-items: center; width: 100%; background-color:  #f5f3ee; border-top: 2px solid #d9d9d9;">
  <div style="display: flex; justify-content: center; align-items: center; width: 100%;">

  </div>

  <div class="grid">
    <app-blog-card *ngFor="let card of posts" [info]=card></app-blog-card>
  </div>

  <div class="d-flex">
    <button type="button" class="btn btn-secondary" (click)="previousPage()"> < </button>
    <p style="padding-top: 15px">{{currentPage}}</p>
    <button type="button" class="btn btn-secondary" (click)="nextPage()"> > </button>
  </div>
</div>
