@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.wrapper
{
  background-color: #f5f5f5;
  height: 70vh;
  display: flex;
  align-items: flex-start;  /* zmienione z 'center' na 'flex-start' */
  justify-content: center;
  border-top: 2px solid #d9d9d9;
  width: 100vw;
  padding-top: 8%; /* dodaj tyle paddingu, ile chcesz, aby elementy były przesunięte w dół */
}

@media (max-width: 470px)
{

  .name
  {
    color: #3f3f3f;
    font-family: 'Inter', sans-serif;
    font-size: 1.6rem;

    font-weight: 600;
    line-height: 32px;
    margin-bottom: 50px;
  }

  .motto
  {
    font-family: 'Inter', sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 16px;
    color:  #757575;

  }
}


@media (min-width:  769px)
{
  .name
  {

    font-family: 'Inter', sans-serif;
    font-size: 48px;
    font-weight: 600;
    line-height: 16px;
    margin-bottom: 50px;
  }

  .motto
  {
    font-family: 'Inter', sans-serif;
    font-size: 36px;
    font-weight: 400;
    line-height: 16px;
    color:  #757575;

  }
}

