button
{
  background-color: #5fa22e;
  color: white;
  margin: 10px;
}

.btn.btn-secondary:hover {
  background-color: #5fa22e;
}

h1
{
  font-family: 'Inter', sans-serif;
  font-size: 2rem;
  margin-top: 15px;
  padding: 0px;
}
