.hidden {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 0;
  width: 0;
  pointer-events: none;
  margin: 5px;
}

.file-upload-button {
  padding: 10px 20px;
  background-color: #008CBA;
  color: white;
  cursor: pointer;
}
