.detailsCard
{
  background-color: white;
  border: 3px solid #85cd4f;
  width: 25vw;
  max-width:  620px;
  min-width: 200px;
  max-height: 220px;
  border-radius: 10px 20px 30px 40px;
  transition: background-color 0.5s ease;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  cursor: pointer;
}

@media (max-width: 470px) {
  .detailsCard
  {
    max-width: 390px;
    margin-top: 1rem;
    padding: 0px;
    width: 90vw;
  }

}

.title
{
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 20px;
}
