<div class="container" style="margin: 0px">

  <div style="width: 100vw"  class="section d-inline-flex justify-content-start align-items-start">
    <div class="row">
      <div class="col" [ngStyle]="{ 'padding-left': !isSmallScreen ? '15vw' : '0'}">
        <div class="welcome">
          <h1>Miło Cię widzieć na naszej stronie!</h1>
          <p>
            Znajdiesz tutaj artykuły oraz rekomendacje dotyczące żywienia w różnych jednostkach chorobowych wraz
            z przykładowymi jadłospisami jak również artykuły poruszające aspekty psychologiczne towarzyszące jedzeniu.
          </p>
          <p>
            Strona tworzona jest przez nas, czyli przez dwie kobiety, które poznały się na studiach dietetycznych.
            Naszym wspólnym mianownikiem jest pasja dotycząca zdrowego odżywiania się oraz chęć zarażania nią innych.
            Stale pogłębiamy naszą wiedzę z zakresu dietetyki biorąc udział w różnego rodzaju szkoleniach i kursach.
          </p>
          <p>
            Mamy nadzieję, że na naszej stronie znajdziesz wiele przydatnych informacji, które zachęcą Cię do zmiany i
            wprowadzenia prawidłowych nawyków żywieniowych a tym samym do poprawy Twojego stanu zdrowia.
          </p>
        </div>
      </div>
      <div class="col" *ngIf="!isSmallScreen">
        <div class="photo"  >
          <img src="assets/razem.JPG" alt="">
        </div>
      </div>
    </div>
  </div>


  <div style="width: 100vw" class="section d-inline-flex justify-content-start align-items-start" style="background-color: #FFFF;">
    <div class="row">
      <div class="col-sm-7  " [ngStyle]="{ 'padding-left': !isSmallScreen ? '15vw' : '0'}" *ngIf="!isSmallScreen">
        <div class="photo"  >
          <img src="assets/agaTlo.JPG" alt="">
        </div>
      </div>

      <div class="col" >
        <div class="welcome" >
          <h1>Agnieszka Miłkowska</h1>
          <p>
            Dietetyk kliniczny, psychodietetyk.

            Absolwentka studiów magisterskich, ze specjalnością dietetyka kliniczna oraz psychodietetyka z elementami obesitologii.

            Liderka Diamentowego Projektu Jedz Świadomie, BNP Paribas S.A.

            Współautorka ebooków z przepisami dla osób z cukrzycą

            <a href="https://nieslodze.com/sklep/"> https://nieslodze.com/sklep/</a>
          </p>
          <p>
            Dodatkowe kursy i szkolenia:

            Dietetyka Okiem Biochemika, Uniwersytet Warszawski (2023)

            Specjalista przyjazny insulinoopornym – certyfikat School of Insulinresistance Therapy, Fundacja Insulinooporność (2021).

            Kurs Dietetyka Klinicznego Ajwen (2018)
          </p>
          <p>
            Publikacje i artykuły:
          </p>

          <ul>
            <li> <a href="https://diabetologia.mp.pl/dieta/320083,wielkanocna-dieta-z-niskim-indeksem-glikemicznym"  target="_blank">
              https://diabetologia.mp.pl/dieta/320083,wielkanocna-dieta-z-niskim-indeksem-glikemicznym</a></li>
            <li>
              <a href="https://www.mp.pl/insulinoterapia/wytyczne/320589,postepowanie-dietetyczne-u-chorych-na-cukrzyce-na-podstawie-zalecen-ptd-z-2023-roku"  target="_blank">
                https://www.mp.pl/insulinoterapia/wytyczne/320589,postepowanie-dietetyczne-u-chorych-na-cukrzyce-na-podstawie-zalecen-ptd-z-2023-roku</a></li>
            <li> <a href="https://www.bnpparibas.pl/blog/jedz-swiadomie-to-jeden-z-diamentowych-projektow-programu-rozwojowego-womenup-w-banku-bnp-paribas"  target="_blank">
              https://www.bnpparibas.pl/blog/jedz-swiadomie-to-jeden-z-diamentowych-projektow-programu-rozwojowego-womenup-w-banku-bnp-paribas
            </a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div style="width: 100vw"  class="section d-inline-flex justify-content-start align-items-start">
    <div class="row" [ngStyle]="{ 'padding-left': !isSmallScreen ? '16vw' : '0'}">
      <div class="col" >
        <div class="welcome">
          <h1>Anna Juranek</h1>
          <p>
            Dietetyk kliniczny, psychodietetyk.

            Absolwentka studiów magisterskich, ze specjalnością dietetyka kliniczna oraz psychodietetyka z elementami obesitologii.

            Współautorka ebooków z przepisami dla osób z cukrzycą

            https://nieslodze.com/sklep/
          </p>
          <p>
            Dodatkowe kursy i szkolenia:

            Społeczny Edukator Diabetologiczny, Fundacja dla Dzieci z Cukrzycą (2023)
          </p>
          <p>
            Mamy nadzieję, że na naszej stronie znajdziesz wiele przydatnych informacji, które zachęcą Cię do zmiany i
            wprowadzenia prawidłowych nawyków żywieniowych a tym samym do poprawy Twojego stanu zdrowia.
          </p>

          <p>
            Publikacje i artykuły:
          </p>

          <ul>
            <li> <a href="https://diabetyk24.pl/blog-section/wywiady/pasjonatka-z-diabetyka24-zalozyla-portal-z-misja"  target="_blank">
              https://diabetyk24.pl/blog-section/wywiady/pasjonatka-z-diabetyka24-zalozyla-portal-z-misja</a></li>
            <li>
              <a href="https://diabetyk24.pl/blog-section/o-cukrzycy/cukrzyca-ciazowa-co-to-jest-jak-zdiagnozowac"  target="_blank">
                https://diabetyk24.pl/blog-section/o-cukrzycy/cukrzyca-ciazowa-co-to-jest-jak-zdiagnozowac</a></li>

          </ul>
        </div>
      </div>
      <div class="col" *ngIf="!isSmallScreen">
        <div class="photo" >
          <img src="assets/aniaTlo.JPG" alt="">
        </div>
      </div>
    </div>
  </div>
</div>

